* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
}
main {
  border:2px solid rgb(156, 27, 27);  
  font-family: 'Courier New', Courier, monospace;
  margin: 100px auto;
  padding: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
div {
    background-color: blue;
    color: white;
    padding:0 5px ;
}
p {
    border: 2px rgb(196, 6, 186) solid;
    margin: 3px;
    padding: 2px;
    color: red;
}
